<div class="prose mb-6 lg:prose-lg xl:prose-xl">
  <h1>{{event.heading}}</h1>
</div>
{{#if event.feature_image}}
<div class="flex justify-center"><img src="{{event.feature_image.url}}" alt="Events feature" class="w-auto" />
</div>
{{/if}}
<div class="prose lg:prose-lg xl:prose-xl mt-4">{{{event.html}}}</div>