{{> blocks.default_header }}
<main class="container mx-auto my-12">
  <div class="px-8 lg:px-12">
    <section>
      {{> blocks.content_page_content }}
    </section>
  </div>
</main>
{{> blocks.footer }}