dashboard.belcoda.com, *.dashboard.belcoda.com {
  reverse_proxy app:5173  {
    header_down Strict-Transport-Security max-age=31536000;
  }
  tls {
    dns namecheap {
        api_key {$NAMECHEAP_API_KEY}
        user {$NAMECHEAP_API_USER}
        api_endpoint https://api.namecheap.com/xml.response
    }
  }
}