<!-- COMPACT ARTICLE SECTION -->
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td  align="center" style="padding: 20px 15px 20px 15px;" class="section-padding">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;" class="responsive-table">
                <!-- TITLE -->
                 
                <tr>
                    <td align="left" style="padding: 0 0 10px 10px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #aaaaaa;" class="padding-copy" colspan="2">CANCELLATION CONFIRMED</td>
                </tr>
                <tr >
                    <td align="left" style="padding: 0 0 10px 10px; font-size: 32px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #333333;" class="padding-copy" colspan="2">We will not be expecting you at {{event.heading}}</td>
                </tr>


            </table>
        </td>
    </tr>
</table>
