{{#if petition.petition_target}}
<h5 class="font-bold text-xl">{{petition.petition_target}}</h5>
{{/if}}
{{#if petition.petition_text}}
<p class="italic text-lg mt-3">{{{petition.petition_text}}}</p>
{{/if}}